* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.underline {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    align-items: center;    
    margin-top: 50px;    
}

.header-link {
    display: flex;    
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;    
}

.header-menu {
    margin: 0 auto 0 25px;
}

.header-menu a {
    color: #1E0606;
    margin-right: 20px;
}

header .contact {
    color: #1E0606;    
    font-weight: 700;
}

.button {
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;    
    text-transform: uppercase;
    border: none;    
    cursor: pointer;
    padding: 9px 22px 9px 22px;    
}

/* breadcrumbs */

.breadcrumbs {
    display: flex;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-bottom: 50px;
    position: relative;
}

.breadcrumbs a {
    margin-right: 48px;
}
.breadcrumbs p {
   margin: 0;
}

.breadcrumbs-next::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 12px;
    margin-left: 22px;
    top: 7px;   
    background-image: url('../images/breadcrumbs.png');    
    background-position: center; 
    background-repeat: no-repeat;     
}

.breadcrumbs-disable {  
    opacity: .5;
}

/* pages */

.pages-wrapper {
    margin-top: 30px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pages-wrapper ul {
    display: flex;
    justify-content: space-between;
}

.pages-link li {
    margin-left: 64px;
}

/* vector */

.pagination-vector-left, 
.pagination-vector-right {    
    background-image: url('../images/vector-left.svg');    
    background-repeat: repeat;
    background-position: center;  
    display: block;
    top: 0;
    right: 0;
    width: 17px;
    height: 30px;   
}   

.pagination-vector-right {
    background-image: url('../images/vector-right.svg');
}


/* footer */

footer {
    background: #434343;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;  
    margin: 100px 110px 25px 110px;  
}

.footer-company {
    display: flex;   
       
}

.footer-company li {
    margin: 10px 10px 0 0;
}

.footer-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 110px;  
    margin-left: 110px;
    padding: -20px;
}

.footer-star {
    display: flex;   
    margin-top: 50px; 
    margin-left: -50px;  
     
}

.footer-star li {
    margin-left: 10px;
}


footer .header {
    color: #AAAAAA; 
    font-weight: 400;   
    font-size: 16px;
    line-height: 22px;
}

footer a {
    color: #FFFFFF;
    font-weight: 400;  
    font-size: 16px;
    line-height: 22px;    
}

.footer-text {  
  padding-right: 20px;
}

footer .title-border {
    padding-bottom: 23px;
    border-bottom: 1px solid #666666;    
}
footer .button-footer {
    border-top: 1px solid #666666;
    padding-bottom: 50px;     
}
