
header a {
    color: #1E0606;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;    
}

header .contact {
    color: #1E0606;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.button {
    background: #000000;
    flex-direction: row;
    padding: 9px 22px;
    gap: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    background: #434343;
}

.marker {
    list-style-type: none;
}

footer .header {
    color: #AAAAAA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

footer a {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;    
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}

footer .button-join {
    background: #000000;
    height: 40px;
    width: 81px;
    left: 1209px;
    top: 171px;
    border-radius: 0px;
    padding: 9px, 22px, 9px, 22px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

footer #input-email-1 {
    background: #666666;
    color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    height: 40px;
    width: 380px;
    left: 910px;
    top: 171px;
    border-radius: 0px;
}

