/* banner */

.wrapper {
    display: flex;  
    flex-direction: column;
}

.banner {
    background-color: #EEE4DB;
    display: flex;         
}

.number {  
    margin-left: 28px;  
    margin-top: 30px;  
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);      
    width: 61px;
    height: 74px;    
}

.banner-number {
    width: 133px;
}

.button-banner { 
    width: 31px;    
    height: 3px;     
    background: #D6CAC2;
    margin-left: 31px;  
    border:none;
    cursor: pointer;
}  
    
.banner-title {
    margin-top: 90px;
    margin-left: 110px;
}

.image {  
    margin-top: -89px;  
    margin-right: 90px;    
}
   
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;       
    color: #1E0606;
    text-transform: uppercase; 
    width: 90%;    
}

.text {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
    margin-bottom: 30px;
}

.text-bottom {
    background: #C29974;
    margin-top: -30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;  
    padding: 11px 364px 11px 364px; 
}

/* products */

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.products-list {
    display: flex;
    flex-wrap: wrap;    
    margin: 0 -10px;     
}

.products-cards a {
    display: block;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.products-cards {
    margin-right: 20px;
    width: 280px;  
}

.products-cards:nth-child(1) {
    background: #DBE4DB;
    padding: 100px 75px;
    background-image: url('../images/products/image1.png');
    background-blend-mode: multiply; 
    background-position: center; 
    background-repeat: no-repeat;       
}

.products-cards:nth-child(2) {
    background: #EADDD3;
    padding: 100px 75px;
    background-image: url('../images/products/image2.png');
    background-position: center;
    background-repeat: no-repeat;           
}

.products-cards:nth-child(3) {
    background: #F8F2DA;
    padding: 100px 75px;
    background-image: url('../images/products/image3.png');
    background-position: center;
    background-repeat: no-repeat;    
}
    
    
.products-cards:nth-child(4) {
    background: #D5D4E1;
    padding: 100px 75px;
    background-image: url('../images/products/image4.png');
    background-position: center;
    background-repeat: no-repeat;    
} 

.products-list button {   
    padding: 17px;   
    margin: 30px 0px 90px 10px;    
    border: none;
    cursor: pointer; 
}

.button-control-one { 
    background: #E2F1F8;         
    background-image: url('../images/vector1.png');
    background-position: center;
    background-repeat: no-repeat;     
}

.button-control-two {
    background: #E2F1F8;     
    background-image: url('../images/vector2.png');
    background-position: center;
    background-repeat: no-repeat;    
}

.products-list p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 90px;
    height: 100%;
    width: 45%;
}

/* delivery */

.delivery {
    display: flex;    
    margin-bottom: 90px;
}

.delivery-image {
    width: 480px;
    margin-right: 120px;
}

.delivery-list {
    display: flex;
    flex-direction: column;      
}

.delivery-list .subtitle {
    margin-top: 30px;    
}

.delivery-link { 
    background-color: #70BBDC33;
    padding: 11px 180px 11px 60px;  
    margin-top: 17px; 
    margin-left: -60px;   
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;    
}

.deliverylink {      
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    color: #1E0606;
}

.delivery p {
    width: 82%;
    margin-bottom: 15px;
}

.delivery-list .button {
    width: max-content;
}

/* company */

.company {
    margin-bottom: 90px;
}

 .company-title {
   font-size: 0;
   width: 0;
   height: 0;
}

.company-list {
    display: flex;
    justify-content: space-between;
}

/* information */
  
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #E1F0F7;
    width: 543px;        
    margin-bottom: 155px;       
}

.about p {
    width: 90%; 
    margin-left: 30px;
}

.about a {
    margin-left: 30px;
    margin-bottom: 27px;
}

.about .subtitle {
    margin-left: 30px;
    margin-top: -26px;
}

.contacts {
    display: flex;
    flex-direction: column;      
    background: #E1F0F7;
    width: 543px;    
    margin-right: 33px;
}